/* ==UserStyle==
@name           Improved BaseTao Styling
@namespace      gitlab.com/robotoilinc/stylish/
@version        1.1.1
@description    Improves some part of BaseTao
@author         RobotOilInc
==/UserStyle== */

@-moz-document domain("basetao.com") {
    .btn {
        text-transform: capitalize;
    }


    .img-50 {
        border-radius: 4px;
    }

    .border-info .row .titleback {
        border-radius: 4px;
    }


    .my-action {
        min-height: 0;
    }

    .one-body ul li a {
        font-family: inherit;
        font-size: 13px;
    }

    .modal {
        z-index: 9999;
    }

    .modal-footer .text-left,
    .modal-footer .size_color_color {
        display: none;
    }

    .modal .bgcolor {
        background: #ff5c00;
        border-radius: 5px;
        color: white;
    }

    .modal .title_user {
        color: white;
    }

    .modal .bgcolor > p > .liuyan_time {
        color: white;
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 60%;
        }
    }
    @media (min-height: 800px) {
        .reply_content {
            height: 400px;
        }
    }
    @media (min-height: 1000px) {
        .reply_content {
            height: 100%;
        }
    }
}
