/* ==UserStyle==
@name           Thingiverse
@namespace      gitlab.com/robotoilinc/stylish
@version        1.0.0
@description    Makes Thingiverse liveable. Fixes URL's and removed ads for now
@author         RobotOilInc
==/UserStyle== */
@-moz-document domain("thingiverse.com") {
    .ThingPage__description--14TtH p a {
        display: inline
    }

    div[class^="AdCard__card-"],
    div[class*=" AdCard__card"],
    div[class^="AdCard__leaderboard"],
    div[class*=" AdCard__leaderboard"] {
        display: none;
    }

    #iframe-app iframe {
        height: 1000px;
    }

    .make-card > .card-img-holder > img.card-img {
        object-fit: cover;
        width: 100%;
    }
}
